@if (loading) {

<div class="text-white text-4xl p-10">
  Carregando álbum...
</div>

}

@if (!loading) {

<div class="text-white p-10">

  <div class="flex items-center gap-8 mb-10">

    <img
      [src]="albumData.album.coverUrl"
      class="w-80 h-52 object-cover rounded-3xl"
    />

    <div>

      <h1 class="text-6xl font-bold mb-4">
        {{ albumData.album.themeName }}
      </h1>

      <div class="space-y-2 text-2xl text-zinc-300">

        <p>
          Progresso:
          <span class="text-emerald-400 font-bold">
            {{ albumData.progress }}%
          </span>
        </p>

        <p>
          Possui:
          {{ albumData.ownedTotal }}
        </p>

        <p>
          Faltam:
          {{ albumData.missingTotal }}
        </p>

      </div>

    </div>

  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-6">

    <div
      *ngFor="let sticker of albumData.stickers"
      class="rounded-3xl overflow-hidden border"
      [ngClass]="{
        'border-emerald-500': sticker.owned,
        'border-zinc-800 opacity-40': !sticker.owned
      }"
    >

      <img
        [src]="sticker.imageUrl"
        class="w-full h-48 object-cover"
      />

      <div class="p-4 bg-zinc-950">

        <h2 class="font-bold text-lg">
          #{{ sticker.number }}
        </h2>

        <p class="text-sm text-zinc-400">
          {{ sticker.name }}
        </p>

        <div class="mt-2 flex items-center justify-between">

          <span class="text-xs px-2 py-1 rounded-full bg-zinc-800">
            {{ sticker.rarity }}
          </span>

          @if (sticker.quantityDuplicate > 0) {

          <span class="text-yellow-400 text-sm font-bold">
            +{{ sticker.quantityDuplicate }}
          </span>

          }

        </div>

      </div>

    </div>

  </div>

</div>

}
