<div *ngIf="loading" class="text-white text-3xl p-10">
  Carregando álbum...
</div>

<div *ngIf="!loading && album" class="album-screen">

  <section class="album-header">

    <img
      [src]="album.coverUrl"
      class="album-cover"
    />

    <div class="album-info">

      <h1>{{ album.themeName }}</h1>

      <p>Seu álbum digital colecionável.</p>

      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.width.%]="progress"
        ></div>
      </div>

      <div class="album-stats">

        <div>
          <span>Progresso</span>
          <strong class="green">{{ progress }}%</strong>
        </div>

        <div>
          <span>Total</span>
          <strong>{{ totalStickers }}</strong>
        </div>

        <div>
          <span>Coladas</span>
          <strong class="blue">{{ ownedTotal }}</strong>
        </div>

        <div>
          <span>Faltam</span>
          <strong class="red">{{ missingTotal }}</strong>
        </div>

        <div>
          <span>Pendentes</span>
          <strong class="orange">{{ pendingStickersTotal }}</strong>
        </div>

      </div>

    </div>

  </section>

  <section class="book-area">

    <button
      class="nav-button left"
      (click)="previousPage()"
      [disabled]="currentPage === 0"
    >
      <span><</span>
    </button>

    <!-- CAPA -->

<div
  *ngIf="currentPage === 0"
  class="album-cover-book"
  [class.cover-opening]="isFlipping && flipDirection === 'next'"
>

  <img
    [src]="album.coverUrl"
    class="album-cover-book-img"
  />

  <div class="album-cover-book-info">

    <h2>
      {{ album.themeName }}
    </h2>

    <p>
      Toque em avançar para abrir o álbum
    </p>

  </div>

</div>

<!-- LIVRO -->

<div
  *ngIf="currentPage > 0"
  class="book"
  [class.flipping]="isFlipping"
  [class.page-completed]="completedPages.includes(currentPage)"
>

      <!-- PÁGINA ESQUERDA -->

      <div class="book-page left-page"
      [class.page-turning-left]="isFlipping && flipDirection === 'previous'"
      >

        <div class="page-title">
          Página {{ currentPage }}
        </div>

        <div class="sticker-grid">

          <div
            *ngFor="let sticker of leftPageStickers; trackBy: trackBySticker"
            class="sticker-slot"
            [class.just-placed]="lastPlacedStickerId === sticker.id"
            [ngClass]="{
              'owned': sticker.isPlaced,
              'empty': !sticker.isPlaced,
              'rare': sticker.rarity === 'RARE' && sticker.isPlaced,
              'epic': sticker.rarity === 'EPIC' && sticker.isPlaced,
              'legendary': sticker.rarity === 'LEGENDARY' && sticker.isPlaced
            }"
          >

            <span class="sticker-number">
              Nº {{ sticker.number }}
            </span>

            <ng-container *ngIf="sticker.isPlaced; else emptySticker">

              <div
    *ngIf="sticker.rarity === 'EPIC' || sticker.rarity === 'LEGENDARY'"
    class="album-holo-effect"
  ></div>

              <img
                [src]="sticker.imageUrl"
                class="sticker-img clickable"
                (click)="openStickerZoom(sticker)"
              />

              <div class="sticker-footer">
                <strong>{{ sticker.name }}</strong>
                <small>{{ sticker.rarity }}</small>
              </div>

            </ng-container>

            <ng-template #emptySticker>
              <div class="empty-slot">

                <div *ngIf="placingStickerId === sticker.id"
                class="flying-sticker"
                >

                <img [src]="sticker.imageUrl"
                class="flying-sticker-image"
                >

                </div>

                <button
                  *ngIf="sticker.canPlace"
                  class="place-sticker-button"
                  [class.placing]="placingStickerId === sticker.id"
                  (click)="placeSticker(sticker.id)"
                >
                  +
                </button>

                <ng-container *ngIf="!sticker.canPlace">
                  <span>?</span>
                  <p>Espaço para colar</p>
                </ng-container>

                <small>
                  Figurinha Nº {{ sticker.number }}
                </small>

              </div>
            </ng-template>

          </div>

        </div>

      </div>

      <div class="book-spine"></div>

      <!-- PÁGINA DIREITA -->

      <div class="book-page right-page"
      [class.page-turning-right]="isFlipping && flipDirection === 'next'"
      >

        <div class="page-title">
          Página {{ currentPage + 1 }}
        </div>

        <div class="sticker-grid">

          <div
            *ngFor="let sticker of rightPageStickers; trackBy: trackBySticker"
            class="sticker-slot"
            [class.just-placed]="lastPlacedStickerId === sticker.id"
            [ngClass]="{
              'owned': sticker.isPlaced,
              'empty': !sticker.isPlaced,
              'rare': sticker.rarity === 'RARE' && sticker.isPlaced,
              'epic': sticker.rarity === 'EPIC' && sticker.isPlaced,
              'legendary': sticker.rarity === 'LEGENDARY' && sticker.isPlaced
            }"
          >

            <span class="sticker-number">
              Nº {{ sticker.number }}
            </span>

            <ng-container *ngIf="sticker.isPlaced; else emptyStickerRight">

              <div
    *ngIf="sticker.rarity === 'EPIC' || sticker.rarity === 'LEGENDARY'"
    class="album-holo-effect"
  ></div>

              <img
                [src]="sticker.imageUrl"
                class="sticker-img clickable"
                (click)="openStickerZoom(sticker)"
              />

              <div class="sticker-footer">
                <strong>{{ sticker.name }}</strong>
                <small>{{ sticker.rarity }}</small>
              </div>

            </ng-container>

            <ng-template #emptyStickerRight>
              <div class="empty-slot">

                  <div
                    *ngIf="placingStickerId === sticker.id"
                    class="flying-sticker"
                    >
                    <img
                    [src]="sticker.imageUrl"
                    class="flying-sticker-image"
                    />
                  </div>

                <button
                  *ngIf="sticker.canPlace"
                  class="place-sticker-button"
                  [class.placing]="placingStickerId === sticker.id"
                  (click)="placeSticker(sticker.id)"
                >
                  +
                </button>

                <ng-container *ngIf="!sticker.canPlace">
                  <span>?</span>
                  <p>Espaço para colar</p>
                </ng-container>

                <small>
                  Figurinha Nº {{ sticker.number }}
                </small>

              </div>
            </ng-template>

          </div>

        </div>

      </div>

    </div>

    <button
      class="nav-button right"
      (click)="nextPage()"
      [disabled]="currentPage > 0 && currentPage + 2 > totalPages"
    >
      <span>></span>
    </button>

  </section>

  <div class="page-counter">
    {{ currentPage === 0 ? 'Capa do Álbum' : 'Página ' + currentPage + ' de ' + totalPages }}
  </div>

</div>

<!-- ZOOM FIGURINHA -->

<div
  *ngIf="selectedSticker"
  class="sticker-zoom-overlay"
  (click)="closeStickerZoom()"
>

  <div
    class="sticker-zoom-container"
    [ngClass]="{
      'zoom-rare': selectedSticker.rarity === 'RARE',
      'zoom-epic': selectedSticker.rarity === 'EPIC',
      'zoom-legendary': selectedSticker.rarity === 'LEGENDARY'
    }"
    (click)="$event.stopPropagation()"
  >

    <!-- HOLOGRÁFICO -->

    <div
      *ngIf="selectedSticker.rarity === 'EPIC' || selectedSticker.rarity === 'LEGENDARY'"
      class="zoom-holo-effect"
    ></div>

    <img
      [src]="selectedSticker.imageUrl"
      class="zoom-sticker-image"
    />

    <div class="zoom-sticker-info">

      <h2>
        {{ selectedSticker.name }}
      </h2>

      <p>
        Nº {{ selectedSticker.number }}
      </p>

      <span>
        {{ selectedSticker.rarity }}
      </span>

    </div>

  </div>

</div>
