@keyframes holoMove {
  0% {
    transform: translateX(-100%) rotate(15deg);
  }

  100% {
    transform: translateX(100%) rotate(15deg);
  }
}

.animate-holo {
  animation: holoMove 2.2s infinite linear;
}