<div class="packs-page app-text p-4 md:p-10">

  <!-- TITULO -->

  <h1 class="packs-title">
    Packs de Figurinhas
  </h1>

  <p class="packs-subtitle mb-8">
    Escolha um álbum e depois selecione o pack desejado.
  </p>

  <!-- SELECT ÁLBUM -->

  <div class="app-card rounded-3xl p-6 mb-10">

    <label class="block app-muted text-sm mb-3">
      Álbum de destino
    </label>

    <select [(ngModel)]="selectedAlbumId" class="album-select">

      <option value="">
        Selecione um álbum
      </option>

      <option *ngFor="let album of albums" [value]="album.id">
        {{ album.themeName }}
      </option>

    </select>

  </div>

  <!-- GRID DOS PACKS -->

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">

    <!-- PACK GRÁTIS -->

    <div *ngIf="freePack" class="pack-card rarity-common rounded-3xl p-8
    bg-gradient-to-br from-emerald-900 to-emerald-600
    shadow-[0_0_40px_rgba(16,185,129,0.25)]">

      <div class="flex justify-center mb-6">
        <img src="assets/packs/pack-gratis.png" alt="Pack Grátis" class="pack-img" />
      </div>

      <p class="text-emerald-300 text-sm font-bold uppercase tracking-widest mb-2 text-center">
        Pack Diário Gratuito
      </p>

      <h2 class="text-2xl lg:text-3xl font-bold text-white mb-4 text-center">
        Recompensa Diária
      </h2>

      <span class="pack-price-badge price-small">
        {{ freePack.price | currency:'BRL':'symbol':'1.2-2' }}
      </span>

      <p class="text-emerald-100 mb-8 text-sm text-center">
        {{ freePack.stickerQuantity }} figurinhas por dia.
        Apenas figurinhas comuns.
      </p>

      <div class="space-y-2 mb-8 text-sm text-white">

        <div class="flex justify-between free">
          <span>COMMON</span>
          <span>{{ freePack.commonChance }}%</span>
        </div>

        <div class="flex justify-between free">
          <span>RARE</span>
          <span>{{ freePack.rareChance }}%</span>
        </div>

        <div class="flex justify-between free">
          <span>EPIC</span>
          <span>{{ freePack.epicChance }}%</span>
        </div>

        <div class="flex justify-between free">
          <span>LEGENDARY</span>
          <span>{{ freePack.legendaryChance }}%</span>
        </div>

      </div>

      <button class="w-full bg-white text-emerald-700 hover:bg-zinc-200 py-4 rounded-2xl font-bold transition"
        (click)="openFreePack()">
        Abrir Grátis
      </button>

    </div>

    <!-- PACKS PAGOS -->

    <div *ngFor="let pack of paidPacks" class="pack-card app-card rounded-3xl p-8" [ngClass]="{
      'rarity-common': pack.type === 'SMALL',
      'rarity-rare': pack.type === 'MEDIUM',
      'rarity-legendary': pack.type === 'LARGE'
    }">

      <div class="flex justify-center mb-6">

        <img [src]="
          pack.type === 'SMALL'
            ? 'assets/packs/pack-pequeno.png'
            : pack.type === 'MEDIUM'
            ? 'assets/packs/pack-premium.png'
            : 'assets/packs/pack-elite.png'
        " [alt]="pack.name" class="pack-img" />

      </div>

      <h2 class="text-2xl lg:text-3xl font-bold mb-4 text-center" [ngClass]="{
        'text-emerald-400': pack.type === 'SMALL',
        'text-blue-400': pack.type === 'MEDIUM',
        'text-yellow-400': pack.type === 'LARGE'
      }">
        {{ pack.name }}
      </h2>

      <span class="pack-price-badge" [ngClass]="{
        'price-small': pack.type === 'SMALL',
        'price-premium': pack.type === 'MEDIUM',
        'price-elite': pack.type === 'LARGE'
      }">
        {{ pack.price | currency:'BRL':'symbol':'1.2-2' }}
      </span>

      <p class="app-muted mb-6 text-center">
        {{
        pack.type === 'SMALL'
        ? 'Ideal para iniciantes.'
        : pack.type === 'MEDIUM'
        ? 'Chance elevada de cartas raras, épicas e lendárias.'
        : 'Garante pelo menos uma figurinha lendária.'
        }}
      </p>

      <div class="space-y-2 mb-8 text-sm">

        <div class="flex justify-between">
          <span class="app-muted">COMMON</span>
          <span>{{ pack.commonChance }}%</span>
        </div>

        <div class="flex justify-between">
          <span class="text-blue-400">RARE</span>
          <span>{{ pack.rareChance }}%</span>
        </div>

        <div class="flex justify-between">
          <span class="text-purple-400">EPIC</span>
          <span>{{ pack.epicChance }}%</span>
        </div>

        <div class="flex justify-between">
          <span class="text-yellow-400">LEGENDARY</span>
          <span>
            {{ pack.legendaryChance }}%
            <span *ngIf="pack.guaranteedLegendary">
              + garantida
            </span>
          </span>
        </div>

      </div>

      <button class="w-full py-4 rounded-2xl font-bold transition" [ngClass]="{
        'bg-emerald-500 hover:bg-emerald-600': pack.type === 'SMALL',
        'bg-blue-500 hover:bg-blue-600 text-white': pack.type === 'MEDIUM',
        'bg-yellow-500 hover:bg-yellow-600 text-black': pack.type === 'LARGE'
      }" (click)="openPack(pack.type)">
        Comprar Pack
      </button>

    </div>

  </div>

  <!-- FIGURINHAS RECEBIDAS -->

  <div *ngIf="revealedStickers.length > 0" class="mt-16">

    <h2 class="text-4xl font-bold mb-8">
      Figurinhas recebidas
    </h2>

    <div class="stickers-grid reveal-grid">

      <div *ngFor="let sticker of revealedStickers" class="sticker-card relative group" [ngClass]="{

          'rarity-common':
            sticker.rarity === 'COMMON',

          'rarity-rare':
            sticker.rarity === 'RARE',

          'rarity-epic':
            sticker.rarity === 'EPIC',

          'rarity-legendary':
            sticker.rarity === 'LEGENDARY'

        }">

        <!-- EFEITO HOLO -->

        <div *ngIf="
            sticker.rarity === 'EPIC'
            || sticker.rarity === 'LEGENDARY'
          " class="absolute inset-0 z-10 opacity-30 pointer-events-none
          bg-gradient-to-br from-white/40 via-transparent to-white/10
          animate-holo">
        </div>

        <!-- NUMERO -->

        <div class="sticker-number-badge">
          #{{ sticker.number }}
        </div>

        <!-- RARIDADE -->

        <div class="sticker-rarity-badge" [ngClass]="{
    'badge-common': sticker.rarity === 'COMMON',
    'badge-rare': sticker.rarity === 'RARE',
    'badge-epic': sticker.rarity === 'EPIC',
    'badge-legendary': sticker.rarity === 'LEGENDARY'
  }">
          {{ sticker.rarity }}
        </div>

        <!-- IMAGEM -->

        <img [src]="sticker.imageUrl" [alt]="sticker.name" class="sticker-image bg-zinc-900"
          referrerpolicy="no-referrer" (error)="onImageError($event)" />

        <!-- INFO -->

        <div class="sticker-info-panel">

          <h3>
            {{ sticker.name }}
          </h3>

          <p>
            Figurinha colecionável
          </p>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- LOADING -->

<div *ngIf="loading" class="loading-pack fixed inset-0
  bg-black/90 z-50
  flex items-center justify-center">

  <div class="relative flex flex-col items-center">

    <!-- GLOW -->

    <div class="absolute w-72 h-72 rounded-full
      bg-emerald-500 blur-3xl
      opacity-40 animate-pulse">
    </div>

    <!-- PACK -->

    <img [src]="selectedPackImage" alt="Abrindo Pack" class="relative z-10
      w-56 md:w-72
      animate-pack-opening
      drop-shadow-[0_0_60px_rgba(16,185,129,0.8)]" />

    <!-- TEXTO -->

    <p class="mt-8 text-3xl font-black text-white tracking-wide">
      Abrindo Pack...
    </p>

    <!-- DOTS -->

    <div class="flex justify-center gap-3 mt-4">

      <div class="w-3 h-3 rounded-full bg-emerald-400 animate-bounce"></div>

      <div class="w-3 h-3 rounded-full bg-emerald-400 animate-bounce" style="animation-delay: 0.2s;"></div>

      <div class="w-3 h-3 rounded-full bg-emerald-400 animate-bounce" style="animation-delay: 0.4s;"></div>

    </div>

  </div>

</div>
