<div class="album-card-real">

  <div
    *ngIf="(album.pendingCount ?? 0) > 0"
    class="album-pending-badge"
  >
    +{{ album.pendingCount ?? 0 }}
  </div>

  <img
    [src]="album.coverUrl"
    [alt]="album.themeName"
    class="album-cover-real"
  />

  <div class="album-info-real">

    <h2>{{ album.themeName }}</h2>

    <p>Álbum oficial da coleção.</p>

    <div class="album-footer-real">

      <span *ngIf="showPrice" class="album-price-real">
        R$ {{ album.price }}
      </span>

      <div class="album-actions-real">

        <a
          [routerLink]="['/album', album.id]"
          class="album-button-real btn-view-album"
        >
          Ver Álbum
        </a>

        <button
          *ngIf="showBuyButton"
          class="album-button-real btn-buy-album"
          (click)="onBuyAlbum()"
        >
          Comprar
        </button>

      </div>

    </div>

  </div>

</div>
