<div class="fixed top-6 right-6 z-50 flex flex-col gap-4 w-96">

    <div 
    *ngFor="let alert of alertService.alerts()"
    class="animate-alert-in rounded-2xl border p-4 shadow-2xl backdrop-blur-xl flex items-start gap-4"
    [ngClass]="{
      'bg-emerald-950/90 border-emerald-500 text-emerald-100': alert.type === 'success',
      'bg-red-950/90 border-red-500 text-red-100': alert.type === 'error',
      'bg-yellow-950/90 border-yellow-500 text-yellow-100': alert.type === 'warning',
      'bg-blue-950/90 border-blue-500 text-blue-100': alert.type === 'info'
    }"
    >

    <mat-icon>
        {{ getIcon(alert.type) }}
    </mat-icon>

    <div class="flex-1">
        <h3 class="font-bold text-lg">
            {{ alert.title }}
        </h3>

        <p *ngIf="alert.message" class="text-sm opacity-80 mt-1">
            {{ alert.message }}
        </p>
    </div>

    <button class="opacity-70 hover:opacity-100" (click)="alertService.remove(alert.id)">
        <mat-icon>
            close
        </mat-icon>
    </button>

    </div>
</div>
